{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container my-5">
        <div class="row text-center">
            <div class="col">
                <h1>Memberships</h1>
                <p>Here you can view your active Membership or subscribe to one.</p>
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
    <div class="container mt-5">
        {% if subscription.status == "active" %}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <h4>Your subscription:</h4>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            {{ product.description }}<br>
                            Signed up on: {{ product.created }}<br>
                            Renews {{ subscription.current_period_end }}<br>
                            Subscription ID: <span id="sub-id">{{ subscrip_id }}</span><br>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        {% if product.name == "Gold Plan" %}
                            <h3>Upgrade your subscription to Platinum </h3>
                            <!-- Upgrade Sub trigger modal -->
                            <button type="button" class="btn btn-lg btn-success ml-3" data-toggle="modal" data-target="#upgradeModal">
                                Upgrade
                            </button>
                        {% else %}
                            <p>To downgrade your membership plan to Gold, please <a href="{% url 'contact' %}">contact us!</a></p>
                        {% endif %}
                        <p class="mt-5">Cancel your membership.</p>
                        <!-- Cancel Sub trigger modal -->
                        <button type="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#cancelModal">
                            Cancel
                        </button>
                    </div>
                </div>
                <!-- Cancel Membership Modal -->
                <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-danger font-weight-bold" id="cancelLabel">Warning! This will cancel your membership!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to cancel your membership with <strong>Subscription ID: <span id="sub-id">{{ subscrip_id }}</span></strong>? This action cannot be undone.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Do not cancel</button>
                                <a href="{% url 'cancel-subscription' subscrip_id %}" class="btn btn-danger ml-3" id="cancelBtn">Cancel Membership</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Upgrade Membership Modal -->
                <div class="modal fade" id="upgradeModal" tabindex="-1" aria-labelledby="upgradeLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-danger font-weight-bold" id="upgradeLabel">Warning! This will upgrade your membership!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to upgrade your membership to the <strong>Platinum Plan</strong>? You will then be charged €39 per month.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Do not upgrade</button>
                                <a href="{% url 'upgrade-subscription' subscrip_id %}" class="btn btn-success ml-3" id="upgradeBtn">Upgrade Membership</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col text-center">
                <h2 >You have no active Membership</h2>
                <p>Select a membership option to sign up to.</p>
                <div id="membership-select" class="row w-lg-75 mx-auto my-5">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">Gold Membership</div>
                            <div class="card-body">
                                <h3 class="card-title">€29</h3>
                                <p class="card-text">Just the basics. Get access to the gym, all our equipment and a personalised fitness plan with an instructor.</p>
                                <p class="card-text">Per month</p>
                                <p class="card-text">Billed monthly</p>
                                <button type="submit" class="btn btn-primary" id="submitBtnGold" data-price_id="{{ gold_price_id }}">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">Platinum Membership</div>
                            <div class="card-body">
                                <h3 class="card-title">€39</h3>
                                <p class="card-text">In addition to all the Gold plan benefits you also get access to our classes and use of the steam room, and updated fitness plans.</p>
                                <p class="card-text">Per month</p>
                                <p class="card-text">Billed monthly</p>
                                <button type="submit" class="btn btn-primary" id="submitBtnPlat" data-price_id="{{ plat_price_id }}">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/stripe-membership.js' %}"></script>
{% endblock %}