{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid bg-primary text-white py-3">
        <div class="row text-center">
            <div class="col">
                <p class="my-1 font-archivo-black display-4">Free delivery on orders over €{{ free_delivery_threshold }}!</p>
            </div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row text-center">
            <div class="col">
                <h1>Your shopping bag</h1>
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-primary rounded-0 btn-lg">
                    <i class="fas fa-chevron-left"></i>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
