{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid bg-secondary text-white py-3">
        <div class="row text-center">
            <div class="col">
                <p class="my-1 font-archivo-black display-4">Free delivery on orders over €{{ free_delivery_threshold }}!</p>
            </div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row text-center mb-5">
            <div class="col">
                <h1>Your Profile</h1>
                <div class="checkout-login-toggle">
                    {% if user.is_authenticated %}
                        <h2>Welcome {{ profile }}</h2>
                    {% else %}
                        <a class="text-info d-block" href="{% url 'account_signup' %}">Create an account</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3>Default Delivery Information</h3>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Order History</h3>
            <p>{{ orders }}</p>
        </div>
    </div>
</div>

{% endblock %}
