{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block extra_title %} - News{% endblock %}

{% block page_header %}
    <div class="container-fluid dark-overlay page-title-panel mb-5">
        <div class="row text-center content-section w-lg-75 mx-auto text-white">
            <div class="col-12">
                <h1>Latest News Drafts</h1>
                <!-- single or plural depend on no posts -->
                {% if object_list|length > 0 %}
                    <h4>There {% if object_list|length > 1 %}are{% else%}is{% endif %} {{object_list|length}} draft{% if object_list|length > 1 %}s.{% else%}.{% endif %}</h4>
                {% else %}
                    <p>There are currently no drafts.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-9">
            {% if object_list|length > 0 %}
                {% for post in object_list %}
                    <div class="card mb-4 border border-secondary">
                        <div class="card-header text-white bg-secondary">
                            <i class="far fa-user-circle"></i>
                            <span>{{ post.author }} on <i class="far fa-calendar-alt ml-4"></i> {{ post.created_on}}</span>
                        </div>
                        <div class="card-body">
                            <h2 class="article-title"><a href="{% url 'news_post_detail' post.pk %}">{{ post.title }}</a></h2>
                            <p>{{ post.body | truncatewords:50 }}</p>
                            <a href="{% url 'news_post_detail' post.pk %}" class="btn btn-primary">Read more <i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                        {% if request.user.is_staff %}
                            <div class="card-footer text-muted">
                                <a href="{% url 'news_post_edit' post.pk %}" class="btn btn-outline-primary">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                    <!-- No drafts -->
                <p>There are currently no news drafts.</p>
            {% endif %}
            <!-- Pagination links -->
            {% if is_paginated %}
                <nav aria-label="Page navigation container">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="fas fa-chevron-left"></i> PREV </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT <i class="fas fa-chevron-right"></i></a></li>
                            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                        {% endif %}
                    </ul>
                    <div class="current text-center">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </div>
                </nav>
            {% endif %}
        </div>
        {% include 'news/sidebar.html' %}
    </div>
</div>
    
{% endblock %}
