{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
{% endblock %}

{% block extra_title %} - Community{% endblock %}

{% block page_header %}
    <div class="container-fluid dark-overlay page-title-panel mb-5">
        <div class="row text-center content-section w-lg-50 mx-auto text-white">
            <div class="col-12">
                <h1>Community</h1>
                <p>Chat with other Power Fitness gym users about anything gym or fitness related. You must be signed in to view or participate in chats.</p>
                {% if request.user.is_authenticated %}
                    <p class="lead">You are signed in as <strong>{{ user.username }}</strong>.</p>
                {% else %}
                    <p class="lead">You are not signed in. If you have an account you can <a href="{% url 'account_login' %}">login here</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col table-responsive">
            <h2 class="mb-4">Message Board</h2>
            <a href="{% url 'add_topic' %}" class="btn btn-primary rounded-0 my-4">Add new topic</a>
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Started by</th>
                    <th scope="col">Messages</th>
                    <th scope="col">Last update</th>
                  </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                        <tr>
                            <td>
                                <a href="{% url 'view_topic' topic.id %}">{{ topic.subject }}</a>
                            </td>
                            <td>
                                {{ topic.started_by }}
                            </td>
                            <td>
                                {{ topic.get_posts_count }}
                            </td>
                            <td>
                                {% with post=topic.get_last_post %}
                                    {{ post.created_at }}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
