{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
{% endblock %}

{% block extra_title %} - Community - {{ topic.subject }} Topic{% endblock %}

{% block page_header %}
    <div class="container header-container my-5">
        <div class="row text-center">
            <div class="col">
                <h1>Reply to {{ topic.subject }} Topic</h1>
            </div>
        </div>
    </div>
{% endblock page_header%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <a href="{% url 'view_topic' topic.id %}">Back to {{ topic.subject }} Topic</a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-8 offset-md-2">
            <form method="POST" action="{% url 'reply_post' topic.id %}" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a href="{% url 'view_topic' topic.id %}" class="btn btn-lg btn-outline-secondary rounded-0 mr-sm-4 mt-3">Cancel</a>
                    <button type="submit" class="btn btn-lg btn-primary rounded-0 mt-3">Reply to Topic</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            {% for message in topic_messages %}
                <div class="card mb-2 {% if forloop.first %}border border-secondary{% endif %}">
                    {% if forloop.first %}
                        <div class="card-header text-white bg-secondary py-2 px-3">{{ topic.subject }}</div>
                    {% endif %}
                    <div class="card mb-2">
                        <div class="card-body p-3">
                            <div class="row mb-1">
                                <div class="col-6">
                                    <i class="far fa-user-circle fa-2x"></i>
                                    <h3 class="message-poster"><strong>{{ message.created_by.username }}</strong></h3>
                                    <small class="d-md-none">Posts: {{ message.created_by.posts.count }}</small>
                                </div>
                                <div class="col-6 text-right">
                                    <small class="text-muted">{{ message.created_at }}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-none d-md-block">
                                    <small>Posts: {{ message.created_by.posts.count }}</small>
                                </div>
                                <div class="col-12 col-md-10">
                                    {{ message.message }}
                                    {% if message.created_by == user %}
                                        <div class="mt-3">
                                            <a href="#" class="btn btn-primary btn-sm" role="button">Edit</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div><!-- end container -->
{% endblock %}
