html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* Fix header */

/* .navbar-brand.logo {
    height: 6.5rem;
} */
.navbar-brand.logo img {
    width: 16rem;
}
.bag-toggle {
    position: absolute;
    right: 0;
    top: -5rem;
    width: 10.5rem;
}
.shopping-bag,
.navbar-toggler {
    display: inline-block;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 992px) {
    .navbar-brand.logo img {
        max-width: 100%;
    }
    .bag-toggle {
        position: relative;
        width: auto;
    }
}