html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 7rem;
}
/* Fix header */
header {
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgb(85, 44, 0, 0.1);
    padding-bottom: .5rem;
    position: absolute;
    z-index: 997;
    width: 100%;
    top: -5.6rem;
    -webkit-transform: translate(0, 5.6rem);
        -ms-transform: translate(0, 5.6rem);
            transform: translate(0, 5.6rem);
    -webkit-transition:top 0.2s ease-in;
    -o-transition:top 0.2s ease-in;
    transition:top 0.2s ease-in;
}
header.sticky {
    position: fixed;
    width:100%;
    z-index: 997;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top:0;
}
/* Navbar */
.navbar {
    padding: 0;
}
.navbar-brand.logo {
    margin-left: .5rem;
}
.navbar-brand.logo img {
    width: 16rem;
}
.bag-toggle {
    position: absolute;
    right: 0;
    top: -5rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}
.shopping-bag,
.navbar-toggler {
    display: inline-block;
}
.navbar-light .navbar-toggler {
    background: #f39200;
    padding: 1.2rem 1.8rem;
    color: #fff;
    font-size: 2rem;
    margin-left: 1.5rem;
}
/* Back to top */
.back-to-top {
    background: transparent;
    border-style: solid;
    border-width: 0 0 64px 64px;
    border-color: transparent transparent #f39200;
    height: 0;
    width: 0;
    display: inline-block;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.back-to-top:before {
    content: '\f062';
    position: absolute;
    font-size: 1.4rem;
    bottom: -5.5rem;
    right: 1.3rem;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}
.back-to-top.visible {
    opacity: 1;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 992px) {
    .navbar-brand.logo img {
        max-width: 100%;
    }
    .bag-toggle {
        position: relative;
        width: auto;
    }
}