{% load static %}
<footer class="container-outer-wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-6">
                <div class="footer-brand-logo">
                    <img src="{% static 'images/power-fitness-logo.svg' %}" alt="Power Fitness Gym">
                </div>
                
                    
            </div>
            <div class="col-12 col-md-6">
                <ul class="social-icons-list">
                    <li>
                        <a target="_blank" href="https://twitter.com/">
                            <i class="fab fa-twitter-square"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/">
                            <i class="fab fa-instagram-square"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/">
                            <i class="fab fa-facebook-square"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/">
                            <i class="fab fa-youtube-square"></i>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="row copyright">
            <div class="col-12 col-md-6 ">
                <p>&copy; 2020 Power Fitness Gym</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Website by Kevin Bourke. For educational purposes only.</p>
            </div>
        </div>
    </div>
</footer>