<div class="container-fluid policy-links">
    <div class="row text-center text-uppercase">
        <div class="col-md-3 bg-primary p-2r">
            <h3><a href="{% url 'delivery' %}" class="text-dark">Delivery Information</a></h3>
        </div>
        <div class="col-md-3 p-2r bg-secondary">
            <h3><a href="{% url 'return-policy' %}" class="text-white">Return Policy</a></h3>
        </div>
        <div class="col-md-3 p-2r bg-secondary-darker">
            <h3><a href="{% url 'guarantee' %}" class="text-white">1 Year Guarantee</a></h3>
        </div>
        <div class="col-md-3 p-2r bg-secondary-darker-2">
            <h3><a href="{% url 'secure-payment' %}" class="text-white">Secure Payment</a></h3>
        </div>
    </div>
</div>