{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center w-lg-75 mx-auto">
        <div class="col-12">
            <h1>Contact us</h1>
            <p>Get in touch with Power Fitness gym using the form, or find us with the map below.</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-md-6">
            <p>Form</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Map</p>
        </div>
    </div>
</div>
    
{% endblock %}
