{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row text-center w-lg-75 mx-auto">
        <div class="col-12">
            <h1>Gym Memberships</h1>
            <p>Get a Power Fitness gym membership now, and join a squeaky clean and spacious club!  We offer the Platinum Membership and Gold Membership.  Both get you access to our all-inclusive gym, and tons of cardio and strength equipment.</p>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col">
            <h2>Select the right gym membership for you</h2>
            <p>Explore our Membership options below.</p>
        </div>
    </div>
    <div class="row w-lg-75 mx-auto my-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
