{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Image Credits{% endblock %}

{% block page_header %}
    <div class="container-fluid dark-overlay page-title-panel mb-5">
        <div class="row text-center content-section w-lg-50 mx-auto text-white">
            <div class="col-12">
                <h1>Image Credits</h1>
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <h3 class="mb-4">All images on the site were obtained from the following sources:</h3>
            <p>Woman running on black background (Home) - Purchased from <a href="https://www.shutterstock.com/">Shutterstock</a></p>
            <p>Blue dumbells and trainer (Home) - Image by <a href="https://pixabay.com/users/stevepb-282134/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2465478">Steve Buissinne</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2465478">Pixabay</a></p>
            <p>Man and Woman doing push ups - Image by <a href="https://pixabay.com/users/5132824-5132824/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2264825">5132824</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2264825">Pixabay</a>
            </p>
            <p>Carousel images of Treadmills and equpment in empty gym - Images by <a href="https://pixabay.com/users/lewisgoodphotos-15859574/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5030966">Lewis Good</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5030966">Pixabay</a></p>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
