{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Image Credits{% endblock %}

{% block page_header %}
    <div class="container-fluid dark-overlay page-title-panel mb-5">
        <div class="row text-center content-section w-lg-50 mx-auto text-white">
            <div class="col-12">
                <h1>Image Credits</h1>
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
<div class="container mt-5">
    <div class="row my-5">
        <div class="col-12 col-md-8 offset-md-2 mb-3">
            <h2>All images on the site were obtained from the following sources.</h2>
            
        </div>
    </div>
</div>
{% endblock %}
