{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row home-hero">
        <div class="section-1 dark-overlay col-12 col-md-6 text-center text-md-left">
            <div class="content-section">
                <h1 class="">Get in shape with Power Fitness Gym</h1>
                <p class="hero-text">A little progress each day adds up to Big Results</p>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center text-md-left">
            <div class="row section-2">
                <div class="col">
                    <h2 class="">See our range of gym equipment</h2>
                </div>
            </div>
            <div class="row section-3">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <h2 class="">View our memberships</h2>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
