{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row home-hero">
        <div class="section-1 dark-overlay col-12 col-md-6 text-center text-md-left">
            <div class="content-section">
                <h1 class="">Get in shape with Power Fitness Gym</h1>
                <p class="hero-text">A little progress each day adds up to Big Results</p>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center">
            <div class="row section-2 dark-overlay darker">
                <div class="col content-section">
                    <h2 class="text-white">See our range of gym equipment</h2>
                    <a href="{% url 'products' %}" class="btn btn-primary font-weight-bold">Shop Gym Products</a>
                </div>
            </div>
            <div class="row section-3 dark-overlay">
                <div class="col-12 content-section text-center">
                    <h2 class="text-white">View our memberships</h2>
                    <a href="{% url 'gym-memberships' %}" class="btn btn-primary font-weight-bold">Join Gym</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-6">
            <h2>About us</h2>
            <p>At Power Fitness Gym, we strive to create a workout environment where everyone feels accepted and respected. That’s why we take care to make sure our club is clean and welcoming, our staff are friendly, and our certified trainers are ready to help. Whether you’re a first-time gym user or a fitness veteran, you’ll always have a home in our all-inclusive gym.</p>
            <p>Come in anytime, take a look around and see if we're the right fitness for you.</p>
            <p>Keep up to date with our <a href="{% url 'news_list' %}">latest news here &raquo;</a>.</p>
        </div>
        <div class="col-12 col-lg-6">
            <picture>
                <source media="(max-width: 575px)" srcset="{% static 'images/gym-treadmills-576x360.jpg' %}">
                <source media="(max-width: 991px)" srcset="{% static 'images/gym-treadmills-720x450.jpg' %}">
                <source media="(min-width: 992px)" srcset="{% static 'images/gym-treadmills-576x360.jpg' %}">
                <img src="{% static 'images/gym-treadmills-576x360.jpg' %}" class="w-100" alt="Gym with treadmills">
            </picture>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary py-4 mt-5">
    <div class="row text-center">
        <div class="col">
            <h2 class="text-white">Best Sellers</h2>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {% for product in best_sellers %}
                <div class="product-col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <!-- Name and price -->
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="product-price text-left font-weight-bold">
                                <span class="regular-price {% if product.sale_price %}on-sale{% endif %}">€{{ product.price }}</span>
                                {% if product.sale_price %}
                                    <span class="sale-price"> €{{ product.sale_price }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="product-btn text-center mt-3">
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View detail</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'products' %}" class="btn btn-lg btn-secondary">View All Products</a>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 bg-light-darker text-uppercase font-weight-bold px-3 py-5 p-sm-5">
            <h2 class="text-center text-md-left mb-5">Opening Hours</h2>
            <div class="row opening-hours">
                <div class="col-6">
                    <ul class="opening-days">
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday &amp; Bank Holidays</li>
                    </ul>
                </div>
                <div class="col-6 pl-0">
                    <ul class="opening-times">
                        <li>5:45 to 22:00</li>
                        <li>5:45 to 22:00</li>
                        <li>5:45 to 22:00</li>
                        <li>5:45 to 22:00</li>
                        <li>5:45 to 22:00</li>
                        <li>7:45 to 19:00</li>
                        <li>8:45 to 17:30</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d594.0997979838431!2d-6.127418170737946!3d53.44344999874998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDI2JzM2LjQiTiA2wrAwNyczNi43Ilc!5e0!3m2!1sen!2sie!4v1607275912094!5m2!1sen!2sie" width="100%" height="370" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
{% include 'includes/four-policies.html' %}
    
{% endblock %}
