{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row home-hero">
        <div class="section-1 dark-overlay col-12 col-md-6 text-center text-md-left">
            <div class="content-section">
                <h1 class="">Get in shape with Power Fitness Gym</h1>
                <p class="hero-text">A little progress each day adds up to Big Results</p>
            </div>
        </div>
        <div class="col-12 col-md-6 text-center text-md-left">
            <div class="row section-2">
                <div class="col">
                    <h2 class="">See our range of gym equipment</h2>
                </div>
            </div>
            <div class="row section-3">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <h2 class="">View our memberships</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2>About us</h2>
            <p>At Power Fitness Gym, we strive to create a workout environment where everyone feels accepted and respected. That’s why we take care to make sure our club is clean and welcoming, our staff are friendly, and our certified trainers are ready to help. Whether you’re a first-time gym user or a fitness veteran, you’ll always have a home in our all-inclusive gym.</p>
        </div>
        <div class="col-12 col-lg-6">Image</div>
    </div>
</div>
<div class="container-fluid bg-secondary text-white py-4 mt-5">
    <div class="row text-center">
        <div class="col">
            <h2>Best Sellers</h2>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {% for product in best_sellers %}
                <div class="product-col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <!-- Name and price -->
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="product-price text-left font-weight-bold">
                                <span class="regular-price {% if product.sale_price %}on-sale{% endif %}">€{{ product.price }}</span>
                                {% if product.sale_price %}
                                    <span class="sale-price"> €{{ product.sale_price }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="product-btn text-center mt-3">
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View detail</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'products' %}" class="btn btn-lg btn-secondary">View All Products</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-6">
            <h2>Opening Hours</h2>
        </div>
        <div class="col-md-6">
            <h2>Map</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-3">
            <h3>Delivery Information</h2>
        </div>
        <div class="col-md-3">
            <h3>Return Policy</h3>
        </div>
        <div class="col-md-3">
            <h3>1 Year Guarantee</h3>
        </div>
        <div class="col-md-3">
            <h3>Secure Payment</h3>
        </div>
    </div>
</div>
    
{% endblock %}
