.textarea.form-control {
    height: 140px;
}
.form-messages {
    display: none;
    margin-top: 1rem;
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #4CAF50;
    border-color: #009688;
}
.submit-spinner,
.submit-check {
    display: none;
}